APP_PORT=8080

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=shining_english
MYSQL_USER=shining
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_EXPOSE_PORT=3306

JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false

APP_URL=http://localhost:8000

STAR_DAILY_CHECKIN=1
STAR_REGISTRATION_BONUS=15
STAR_COURSE_COMPLETE=10

PAGINATION_DEFAULT_PER_PAGE=15

DASHBOARD_GOALS_DAILY_LESSONS=2
DASHBOARD_GOALS_DAILY_STUDY_MINUTES=5
DASHBOARD_GOALS_FOCUS_COURSES=2
DASHBOARD_GOALS_STREAK_DAYS=7
